.productImages{
    display:flex;
    gap:2px;
}

.smallImages{
    display:flex;
    flex-direction:column;
    gap:5px;
}

.smallImages img{
    width:45px;
    height:45px;
    object-fit:contain;
    border:1px solid #ddd;
    border-radius: 11px;
    padding:2px;
    cursor:pointer;
    background:white;
}

.smallImages img:hover{
    border:1px solid #2162a1;
}

.bigImage img{
    width:450px;
    height:450px;
    object-fit:contain;
    cursor: pointer;
}

