.productImages {
  display: flex;
  gap: 2px;
  position: relative;
  margin-right: 20px;
}

/* Small Images */
.smallImages {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.smallImages img {
  width: 45px;
  height: 45px;
  object-fit: contain;
  border: 1px solid #ddd;
  border-radius: 11px;
  padding: 2px;
  cursor: pointer;
  background: white;
}

.smallImages img:hover {
  border: 1px solid #2162a1;
}

.bigImage {
  position: relative;
}

.bigImage img {
  width: 450px;
  height: 450px;
  object-fit: contain;
  cursor: crosshair;
}

.lens {
  position: absolute;
  background-color: rgba(33, 98, 161, 0.2);
  pointer-events: none;
}

.zoomPreview {
  position: fixed; 
  top: 110px;
  left: 34%;
  width: 40%;
  height: calc(100vh - 110px);
  border: 1px solid #ddd;
  background-repeat: no-repeat;
  background-color: white;
  transition: opacity 0.2s ease;
  z-index: 999;
}


