.sponsoredSection {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto ;
  box-sizing: border-box;
}

.sponsoredWrapper {
  position: relative;
  width: 100%;
  max-width: 970px;  
}

.sponsoredCard {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  gap: 150px;
  padding: 15px 25px;
  cursor: pointer;
  box-sizing: border-box;
  position: relative;
}

.sponsoredImg{
  flex: 0 0 280px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sponsoredImg img {
  width: 280px;
  height: auto;
  max-height: 260px;
  object-fit: contain;
}

.sponsoredDetails{
  display: flex;
  flex-direction: column;
  padding-right: 50px;
  gap: 5px;
  flex:1
}

.sponsoredTitle{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  color: #2162a1;

  cursor: pointer;
  font-weight: 500;
  letter-spacing: 0.7px;
  color: #0f1111  ;
}

.sponsoredTitle:hover{
  text-decoration: underline;
}

/* Prices */
.newPrice {
  display: inline-flex;
  align-items: flex-start; 
  gap: 2px;
  font-weight: 500;
  color: #0f1111;
}

.newPrice .currency {
  font-size: 12px;        
  line-height: 1;
  margin-top: 2px;       
}

.newPrice .amount {
  font-size: 22px;
  line-height: 1;
  letter-spacing: 1px;
}

.newPrice .fraction{
  font-size: 12px;
  margin-left: 1px;
}

.oldPrice {
  font-size: 14px;
  color: #565959;
  text-decoration: line-through;
}

/* Prime Badge */
.primeBadge {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #007185;
  font-size: 14px;
}

.primeIcon {
  color: #00a8e1;
  font-size: 16px;
}

.primeText {
  font-weight: 600;
}

.shopBtn{
  margin-top: 4px;
  width: fit-content;
  min-height: 31px;
  padding: 1px 16px;
  background-color: rgb(255,164,28);
  border: 1px solid rgb(255,143,0);
  border-radius: 20px;
  color:rgb(15, 17, 17);
  font-size: 14px;
  cursor: pointer;
}

.priceRow {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Prices */
.newPrice {
  font-size: 22px;
  font-weight: 500;
  color: #0f1111;
}

.oldPrice {
  font-size: 14px;
  color: #565959;
  text-decoration: line-through;
}

/* Prime Badge */
.primeBadge {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #007185;
  font-size: 14px;
}

.primeIcon {
  color: #00a8e1;
  font-size: 16px;
}

.primeText {
  font-weight: 600;
}

.sponsoredText {
  position: absolute;
  right: 0;
  bottom: -14px;  /* moves it outside the box */
  font-size: 12px;
  color: #565959;
}
