.homeBanner {
  background: #eaeded;
}

.bannerSlider {
  position: relative;
  height: 480px;
  overflow: hidden;
}

.bannerTrack {
  display: flex;
  height: 100%;
}

.bannerImage {
  flex: 0 0 100%;
  height: 100%;
  /* height: 480px; */
  object-fit: cover;
  object-position: top;
  flex-shrink: 0;
}

.bannerSlider::after {
  content: "";
  position: absolute; 
  left: 0;
  right: 0;
  bottom: 0;
  height: 180px;
  background: linear-gradient(
    to bottom,
    rgba(234, 237, 237, 0) 0%,
    #eaeded 100%
  );
}

.bannerArrow {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.6);
  border: none;
  font-size: 40px;
  padding: 8px 18px;
  cursor: pointer;
  z-index: 5;
}

.bannerArrow.left {
  left: 15px;
}

.bannerArrow.right {
  right: 15px;
}

.homeBanneritemDiv {
  max-width: 1500px;
  margin: -160px auto 0 auto; /* controls overlap */
  padding: 0 20px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  position: relative;
  z-index: 10;
}

.homeBanneritemDivCard {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 0 15px;
  box-sizing: border-box;
}

.homeBanneritemDivCardTitle {
  margin: 0 20px;
  font-size: 21px;
  font-weight: 700;
}

.imghomeBanneritemDivCard {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 12px;
}

.imgBannerhomeDiv {
  display: flex;
  flex-direction: column;
  padding: 4px 7px;
  gap: 2px;
}

.imgBannerDivimg {
  width: 100%;
  max-width: 144px;
  height: 105px;
  object-fit: contain;
}

.imgBannerimgName {
  font-size: 14px;
  font-weight: 500;
}

.bigImgContainer {
  padding: 0 15px;
}

.bigimg {
  width: 100%;
  border-radius: 8px;
}

.bigImgName {
  font-size: 14px;
  margin-top: 6px;
}

.homeBanneritemDivCardText {
  margin: 20px;
  font-size: 14px;
  color: #007185;
  cursor: pointer;
}

.homeBanneritemDivCardText:hover {
  color: #555;
}

@media (max-width: 1024px) {
  .homeBanneritemDiv {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .bannerSlider {
    height: 350px;
  }

  .bannerImage {
    height: 350px;
  }

  .homeBanneritemDiv {
    margin-top: -130px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .homeBanneritemDiv {
    margin-top: -110px;
    grid-template-columns: 1fr;
  }
}
